# ETL - Rôle A
pandas>=2.0

# API REST - Rôle C
fastapi>=0.110.0
uvicorn>=0.29.0
pydantic>=2.0.0
pytest>=8.0.0
httpx>=0.27.0

# Tests
pytest-cov>=5.0.0

# Partagé
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0
python-dotenv>=1.0.0
bcrypt>=4.0.0

# Modèle de données
openai>=2.36.0